.schedule-page {
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%; 
}

.schedule-table {
    margin: 0;
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 1.5em;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.01rem;
    border-color: black;
    border-top: black;

}

.schedule-table table{
    width:80%;
    align-items: center;
    align-self: center;
    align-content: center;  
    border-top: black;
}

.schedule-table table, th, td, tr, table tbody > tr:nth-child(odd) > td, table tbody > tr:nth-child(odd) > th, table th, table td, table th {
    padding: 15px;
    border: 1px solid black;
    border-color: black;
    border-top: 1px solid black !important;
    background-color: black;
    color: white
}

.schedule-table body {
    color: white
}

.schedule-table a {
  color: #0890f1;
  }

