.speakers-map-page {
    align-items: center;
    align-self: center;
    align-content: center;
    margin-left: 5%;
    margin-right: 5%; 
}

.speaker-map {
    height: 600px;
}

.speaker-pin-table > tbody > tr:nth-child(odd) > td {
        background-color: white;
        border: 1px solid white;
        border-color: white;
        border-top: 1px solid white;
}
